# backEnd .env

PORT=3000
DB_URL=mongodb://mongo:27017/
ME_CONFIG_MONGODB_SERVER=mongo
ME_CONFIG_BASICAUTH_USERNAME=your user name
ME_CONFIG_BASICAUTH_PASSWORD=your password
ADMIN_IP=your docker ip

#secure-nodejs-pipeline .env

ADMIN_IP=your docker ip